.container {
    padding: 12px;
}

.info {
    display: flex;
    justify-content: flex-end;
}

.info a .material-symbols-outlined {
    color:#0A2C4C;
    font-size: 20px;
}

.info a:hover .material-symbols-outlined {
    color:#EAEEF4;
}

.table-wrapper {
    margin-top: 2px;
    min-width: 300px;
    overflow-x: scroll;
}

table {
    width: 100%;
    border-top: 1px solid #EAEEF4;;
    border-bottom: 1px solid #EAEEF4;;
    border-collapse: collapse;
    color: #37516A;
    font-size: 12px;
    font-weight: 400;
}

thead {
    color: #37516A;
}

tr {
    height: 52px;
}

th {
    display: table-cell;
    padding: 0px 8px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

tbody {
    color: #37516A;
}

tbody tr:nth-of-type(odd) {
    background-color: #F6FAFD;
}

/* tbody tr:hover {
  background-color: #EAEEF4;
} */

td {
    display: table-cell;
    padding: 0px 8px;
    height: 52px;
    border-top: 1px solid #EAEEF4;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

td .text-input {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
}

td .text-input::placeholder {
    color: #D7E4E6;
}

td .checkbox-input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 5px;
}

button {
    padding: 0px 15px;
    width: auto;
    min-width: 80px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
 
.default-button {
    border: none;
    color: #ffffff;
    background-color: #0A2C4C;
}

.outline-button {
    border: 1px solid #D7E4E6;
    background-color: transparent;
}

.summary-table {
    position: absolute;
    right: 0%;
    padding-right: 12px;
}

.data-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 12px;
    width: 300px;
    border: 1px solid #EAEEF4;
    border-radius: 5px;
}

.description-wrapper {
    width: 100%;
    background-color: #EAEEF4;
}
